<app-navbar></app-navbar>

<div class="d-flex justify-content-center mt-2">
    <div class="product-card">
        <div class="product-image">
            <img [src]="getBase64Image(product.productImage)" alt="Product Image">
        </div>
        <div class="product-details">
            <p class="product-name">{{product.name}}</p>

            <div class="quantity-setter">
                <label for="quantity" class="me-2">Quantity:</label>
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" (click)="decrementQuantity()">-</button>
                    <span class="btn btn-light quantity-display">{{ quantity }}</span>
                    <button class="btn btn-outline-secondary" type="button" (click)="incrementQuantity()">+</button>
                </div>

            </div>

            <div class="mt-2">Total Amount: {{ this.amount }}</div>
            <div class="deliverBy mt-2">
                Get at your doorstep by: {{ futureDate | date }}
            </div>

        </div>
    </div>
</div>

<!-- User Address -->
<div *ngIf="user.address && user.phone !== '' ">
    <div class="delivery-info ms-5">
        <p>Delivering to: {{ user.name }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Delivery Address: {{ user.address.street }}, {{ user.address.city }}, {{ user.address.state }}, {{
            user.address.pincode }}</p>
        <p>Payment Method: Pay On Delivery</p>
    </div>
</div>

<!-- Update Profile Button -->
<div *ngIf="!user.address || user.phone === ''">

    <button (click)="updateProfile()" class="btn btn-outline-primary">Update Profile</button>
</div>

<!-- Place Order Button -->
<div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary" (click)="placeOrder()">Place Order</button>
</div>