<app-navbar></app-navbar>

<div class="row">

    <div class="col-2 ms-3">
        <div class="filter-container mt-3">
            <h2>Filter Options</h2>

            <div class="filter-option mb-3">
                <label for="category" class="form-label">Category:</label>
                <input type="text" id="category" [value]="this.category" class="form-control" disabled />
            </div>

            <div class="filter-option mb-3">
                <label for="brand" class="form-label">Brand(s):</label>
                <mat-chip-grid class="mb-2">
                    <mat-chip *ngFor="let brand of brands" (removed)="removeBrand(brand)">
                        {{ brand }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-grid>
                <input placeholder="Add brand..." [(ngModel)]="newBrand" (keydown.enter)="addBrand()"
                    class="form-control" />
            </div>

            <div class="filter-option mb-3">
                <label for="minPrice" class="form-label">Min Price: {{ minPrice }} </label>
                <input type="number" id="minPriceInput" [(ngModel)]="minPrice" [min]="0" [max]="maxPrice"
                    class="form-control" />
                <input type="range" id="minPrice" [(ngModel)]="minPrice" [min]="0" [max]="maxPrice" step="1000"
                    class="form-range" />
                <p class="slider-values mt-2">
                    <!-- Min: {{ minPrice }} -->
                </p>
            </div>

            <div class="filter-option mb-3">
                <label for="maxPrice" class="form-label">Max Price: {{ maxPrice }}</label>
                <input type="number" id="maxPriceInput" [(ngModel)]="maxPrice" [min]="minPrice" [max]="maxPrice"
                    class="form-control" />
                <input type="range" id="maxPrice" [(ngModel)]="maxPrice" [min]="minPrice" [max]="this.maxPrice"
                    step="1000" class="form-range" />
                <p class="slider-values mt-2">
                    <!-- Max: {{ maxPrice }} -->
                </p>
            </div>

            <div class="filter-option">
                <button (click)="applyFilter()" class="btn btn-primary">Apply Filter</button>
            </div>
        </div>
    </div>



    <div class="col-9">

        <div *ngIf="!areProductsPrsent">
            <h2 class="d-flex mt-4 justify-content-center">No Products to display!</h2>
        </div>

        <div *ngIf="areProductsPrsent">
            <div class="container mt-5">
                <mat-grid-list cols="4" rowHeight="3:3" gutterSize="30" class="mat-grid-list">
                    <mat-grid-tile *ngFor="let p of productDetails" class="product-card mat-grid-tile"
                        (click)="viewProductDetails(p.productID)">

                        <div class="product">
                            <div class="productImage">
                                <img [src]="getBase64Image(p.productImage)" alt="Image">
                            </div>

                            <div class="mt-3 productName">
                                <p><b>{{p.name}}</b></p>
                            </div>

                            <div class="productDetails">
                                <p>{{p.details | slice:0:20}}</p>
                            </div>

                            <div class="productPrice">
                                <p> Price: {{p.price | currency:'INR'}} /_ only</p>
                            </div>

                        </div>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>

        </div>

    </div>

</div>