<app-navbar></app-navbar>

<div *ngIf="user.cart===null">
    Your Cart Is Empty!
</div>

<div>
    <h2>Cart</h2>
    <div class="cart-container">
        <div *ngFor="let cartItem of cart.cartItems" class="cart-item">
            <div class="product-image">
                <img [src]="getBase64Image(cartItem.product.productImage)" alt="Product Image">
            </div>
            <div class="product-details">
                <p class="product-name">{{ cartItem.product.name }}</p>
                <div class="quantity-setter">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" [(ngModel)]="cartItem.quantity"
                        (change)="updateQuantity(cartItem)">
                </div>
            </div>
            <div class="amount">
               Amount: {{ calculateAmount(cartItem) | currency:'INR' }}
            </div>
            <button class="remove-button" (click)="removeCartItem(this.userId, cartItem.product.productID)">Remove</button>
        </div>

    </div>

</div>