<app-navbar></app-navbar>

<div class="empty-cart-message" *ngIf="user.cart === null || user.cart?.cartItems?.length === 0">
    Your Cart Is Empty!
</div>


<div *ngIf="user.cart !== null && user.cart?.cartItems?.length > 0">
    <h2>Cart</h2>
    <div class="cart-container">
        <div *ngFor="let cartItem of cart.cartItems" class="cart-item ">
            <input type="checkbox" [id]="'checkbox-' + cartItem.cartItemId" [value]="cartItem.selected"
                class="item-checkbox me-3" [(ngModel)]="cartItem.selected" (ngModelChange)="onCheckboxChange(cartItem)">
            <div class="product-image">
                <img [src]="getBase64Image(cartItem.product.productImage)" alt="Product Image"
                    (click)="viewProductDetails(cartItem.product.productID)">
            </div>
            <div class="product-details">
                <p class="product-name">{{ cartItem.product.name }}</p>

                <div class="quantity-setter">
                    <label for="quantity" class="me-2">Quantity:</label>
                    <div class="btn-group" role="group" aria-label="Quantity">
                        <button type="button" class="btn btn-success" (click)="decrementQuantity(cartItem)">-</button>
                        <span class="btn btn-light">{{ cartItem.quantity }}</span>
                        <button type="button" class="btn btn-success" (click)="incrementQuantity(cartItem)">+</button>
                    </div>
                </div>

            </div>
            <div class="amount">
                Amount: {{ calculateAmount(cartItem) | currency:'INR' }}
            </div>

            <button class="remove-button"
                (click)="removeCartItem(this.userId, cartItem.product.productID)">Remove</button>
        </div>

        <div *ngIf="this.totalAmount>0">
            Total Amount: {{this.totalAmount | currency:'INR'}}
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-primary" [disabled]="cartItemsWithSelection.length === 0"
                (click)="placeOrder()">Place Order</button>
        </div>

    </div>


</div>