<app-navbar></app-navbar>

<div id="div2">

    <div id="div1" class="mt-4 mb-4">ShopNow</div>


    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)" id="form2">
        <div class="mb-2" id="div3">Create User Account</div>
        <label for="uname">Your name:</label><br>
        <input class="w-100" type="text" id="uname" formControlName="name"  placeholder="First and last name"><br>
        <label for="email">Email:</label><br>
        <input class="w-100" type="email" id="email" formControlName="email"  placeholder="Enter email"><br>
        <label for="password">password:</label><br>
        <input class="w-100" type="password" id="password" formControlName="password"  placeholder="Enter password"><br><br>
        <input class="w-100" type="submit" value="Submit">
        <div class="mt-3 text-center">Already have an Account? <a routerLink="/login">Sign In</a></div>
        <br>
        <div *ngIf="isUserEmailAlreadyExists">The Account with entered email already exists!</div>

        <div *ngIf="signupForm.get('email')?.hasError('email')">
            Please enter a valid email.
        </div>

        <div *ngIf="signupForm.get('email')?.hasError('required')">
            Email is required.
        </div>

        <div *ngIf="signupForm.get('name')?.hasError('required')">
            Name is required.
        </div>

        <div *ngIf="signupForm.get('password')?.hasError('required')">
            Password is required.
        </div>

    </form>


</div>