<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar1">

    <a class="navbar-brand" routerLink="/">ShopNow</a>

    <form class="form-inline my-2 my-lg-0" id="form1">
        <div class="row">
            <div class="col search-bar">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-auto search-button">
                <button class="btn btn-light" type="submit">
                    <i class="uil uil-search"></i></button>
            </div>
        </div>

    </form>

    <ul class="navbar-nav" id="nav-items">
        <!-- <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li> -->
        <li class="nav-item">
            <a class="nav-link" id="account-circle" href="#">
                <i class="uil uil-user-circle" id="user-circle"></i>
                <span id="account-text" class="ml-2">Account</span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" id="nav-cart" routerLink="addNewProduct">
                <span>Add New Product</span>
            </a>
        </li> -->

        <li class="nav-item">
            <a class="nav-link" id="nav-cart" href="#">
                <i class="uil uil-shopping-cart-alt" id="cart-icon"></i>
                <span>Cart</span>
            </a>
        </li>



    </ul>

</nav>