<app-navbar></app-navbar>

<div class="row mt-5 product">

    <div class="col-md-6">
        <div class="productImage">
            <img [src]="getBase64Image(product.productImage)" alt="Image"
                (click)="openImageDialog(getBase64Image(product.productImage))" class="image-container">
        </div>
    </div>


    <div class="col-md-6">
        <div class="mt-3 productName">
            <p><b>{{product.name}}</b></p>
        </div>

        <div class="productDetails">
            <p>Product Description: {{product.details}}</p>
        </div>

        <div class="brand">
            <p> Brand: {{product.brand}}</p>
        </div>

        <div class="productPrice">
            <p> Price: INR {{product.price}} /_ only</p>
        </div>

        <!-- <div class="category">
            <p> Category: {{product.category}}</p>
        </div> -->

        <div class="quantity-setter">
            <label for="quantity" class="me-2">Quantity:</label>
            <div class="input-group">
                <button class="btn btn-light" type="button" (click)="decrementQuantity()"
                    [disabled]="quantity === 1">-</button>
                <span class="btn btn-light quantity-display">{{ quantity }}</span>
                <button class="btn btn-light" type="button" (click)="incrementQuantity()"
                    [disabled]="quantity === 100">+</button>
            </div>
        </div>

        <div>
            <button mat-stroked-button color="primary" class="custom-button" (click)="buyProduct(productId)"
                [disabled]="!isUserLoggedIn">Buy
                Now</button>
        </div>

        <div>
            <button mat-stroked-button color="warn" class="custom-button" (click)="addToBag()"
                [disabled]="!isUserLoggedIn">Add to Bag</button>
        </div>

        <div class="mt-3" *ngIf="!isUserLoggedIn">Please Login to Continue...</div>

    </div>

</div>