mat-grid-tile {
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

mat-grid-tile.product-card {
    margin-bottom: 10px;
    /* Adjust the value as needed */
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
}

.mat-grid-list {
    width: 100%;
    margin: 0;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.productImage {
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mat-grid-tile {
    box-sizing: border-box;
    padding: 15px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .productName,
    .productDetails,
    .productPrice {
        text-align: center;

        p {
            margin: 0;
            font-size: 16px;
            color: #333;
        }
    }
}

.productPrice {
    font-weight: 500;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #867b7b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination-info {
    font-size: 14px;
}

.pagination-buttons button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-buttons button:hover {
    background-color: #e0e0e0;
}

.pagination-buttons button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}