<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar1">


    <a class="navbar-brand" routerLink="/">ShopNow</a>

    <ul class="navbar-nav" id="nav-items">

        <li *ngIf="isLoggedIn" class="nav-item seller-tab me-4">
            <a class="nav-link" id="nav-cart" routerLink="/seller/addNewProduct">
                <span>Add New Product</span>
            </a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item seller-tab me-4">
            <a class="nav-link" id="nav-cart" routerLink="/seller/viewAddedProducts">
                <span>View Added Products</span>
            </a>
        </li>


        <li class="nav-item seller-tab me-4" *ngIf="isLoggedIn">

            <span [matMenuTriggerFor]="belowMenu" class="pointer-cursor">
                <a class="nav-link" id="account-circle">
                    <i class="uil uil-user-circle" id="user-circle"></i>
                    <span id="account-text" class="ml-2">Account</span>
                </a>
            </span>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/seller/login">Login</button>
                <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/seller/signup">Signup</button>
                <button *ngIf="isLoggedIn" mat-menu-item routerLink="/seller/myProfile">My Profile</button>
                <button (click)="logout()" *ngIf="isLoggedIn" mat-menu-item>Logout</button>
            </mat-menu>
        </li>

    </ul>

</nav>